/* Universal settings for box sizing padding and margin. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets background color for body */
body {
    background-color: #d9dcd6;
}

/* Sets styling for header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styling for h1 in header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Sets color for id in header */
header h1 .seo {
    color: #d9dcd6;
}

/* Sets positioning and font styles for nav elements */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes styling for list items */
header nav ul {
    list-style-type: none;
}

/* Sets positioning for nav list items */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Color for links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* font size for paragraphs */
p {
    font-size: 16px;
}

/* Sets styling for background image. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets positioning for image */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Sets positioning for image */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Added to main. Sets width and display styling for sections */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} 

/* Sets styling for aside section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Consolidated for articles. Sets margin and color */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated for asrticles. Sets margin and alignment for headers */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidated for article images. Sets margin, alignment, display and width of images */
.benefit img {
    margin-bottom: 10px;
    text-align: center;
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Consolidated for main sections. Sets background color, text color, font, and positioning */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff; 
}

/* Consolidated for images in  main tag. Sets height */
main img {
    max-height: 200px;
}

/* Consolidated for headers in main sections. Sets margin and font size */
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets styling for added footer semantic tag. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Sets font size for footer h2 */
footer h2 {
    font-size: 20px;
}
